/*关于我们 start*/
*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
body {
    font-family: "arial", "微软雅黑";
}

#about{
    padding: 80px 0;
}
.fixed-action-btn {
    position: absolute;
    right: 22px;
    top: 12px;
}
.fixed-action-btn > a{
    border: 2px solid #fff;
}
.fixed-action-btn > a.red i:hover{
    background-color: #b71c1c;
}
.fixed-action-btn > a.pink i:hover{
    background-color: #880e4f;
}
.fixed-action-btn > a.purple i:hover{
    background-color: #4a148c;
}
.fixed-action-btn > a.deep-purple i:hover{
    background-color: #311b92;
}
.fixed-action-btn > a.indigo i:hover{
    background-color: #1a237e;
}
.fixed-action-btn > a.blue i:hover{
    background-color: #0d47a1;
}
.fixed-action-btn > a.light-blue i:hover{
    background-color: #01579b;
}
.fixed-action-btn > a.cyan i:hover{
    background-color: #006064;
}
.fixed-action-btn > a.teal i:hover{
    background-color: #004d40;
}
.fixed-action-btn > a.green i:hover{
    background-color: #1b5e20;
}
.fixed-action-btn > a.light-green i:hover{
    background-color: #33691e;
}
.fixed-action-btn > a.lime i:hover{
    background-color: #827717;
}
.fixed-action-btn.horizontal ul {
    right: 53px;
}
.fixed-action-btn.horizontal ul li {
    margin: 0 2px;
}
.card .card-image img{
    height: 210px;
}
.card .card-image .card-title{
    font-size: 29px;
    font-family: 华文隶书;
    text-shadow: 3px 3px #086fa1;
}
.card .card-content{
    padding: 5px 20px;
}
.card .card-action{
    padding: 8px 19px;
    color: #fff;
    background-color: #e57373;
}
.card .card-action i{
    margin-left: 2px;
}
.card .card-action .card-more{
    position: absolute;
    top: -1px;
    bottom: 0;
    right: 0;
    padding: 7px 12px 0;
    background-color: #4db6ac;
    cursor: pointer;
}
.card .card-action .card-more:hover{
    background-color: #0A64A4;
}
.collection .collection-item img{
    width: 35px;
    height: 35px;
}
/*关于我们 end*/