/*zhengzewei*/
*{
  font-family: '微软雅黑';
}
header{
  background: url('../img/3.jpg') fixed top no-repeat;
  background-size: 100%;
  height: 600px;
  width: 100%
}
.head-title{
  margin-top: 150px;
}
.head-title h1{
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
.section1 h3.section1-title{
  margin-top: 50px;
  text-align: center;
}
.section1-content{
  margin-top: 50px;
}
.section1-content div.feature{
  margin: 20px auto;
  text-align: center;
}
.section1-content div.feature p{
  padding: 30px 50px 20px 50px;
}
.fixed-img{
  height: 450px;
  width: 100%;
  background: url('../img/3.jpg') fixed top no-repeat;
  background-size: 100%;
  padding-top: 50px;
}
.fixed-img h1{
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
.section2{
  background: url('../img/img2.jpg') center no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
.section3{
  background: url('../img/img3.jpg') top center no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
.section2 .content,
.section3 .content{
  margin-top: 70px;
  width: 50%;
  padding: 30px 100px;
  color: #fff;
}
.content p{
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.img-title{
  width: 100%;
  height: 200px;
  padding-top: 10px;
  margin: 20px auto 10px;
}
.img-title img{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 128px;
  width: 128px;
}
.img-title h5{
  text-align: center;
}
.section5 .join-us{
  margin-top: 30px;
}
.section5 .join-us h3{
  text-align: center;
}
.section5 .join-us a{
  display: block;
  margin: 0 auto;
  width: 300px;
}
.class-manager{
  width: 100%;
  height: 640px;
}
/*Responsive css*/
@media screen and (max-width:768px) {
  header{
    background: url('../img/3small.jpg') fixed top center no-repeat;
    background-size: cover;
  }
  .head-title{
    margin-top: 150px;
  }
  .head-title h1{
    font-size: 36px;
  }
  .fixed-img{
    background: url('../img/3small.jpg') fixed top center no-repeat;
    background-size: cover;
    height: 500px;
  }
  .fixed-img h1{
    font-size: 36px;
  }
  .section2 .content,
  .section3 .content{
    margin-top: 50px;
    width: 100%;
    padding: 30px 10px;
  }
  .section5 .join-us a{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .class-manager{
    width: 100%;
    height: 100%;
  }
  .section2{
    background: url('../img/img2_small.jpg') center no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
  .section3{
    background: url('../img/img3_small.jpg') top center no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
}
@media screen and (max-width:599px) {
  header{
    background: url('../img/3small.jpg') fixed top center no-repeat;
    background-size: cover;
  }
  .head-title{
    margin-top: 150px;
  }
  .head-title h1{
    font-size: 36px;
  }
  .fixed-img{
    background: url('../img/3small.jpg') fixed top center no-repeat;
    background-size: cover;
    height: 500px;
  }
  .fixed-img h1{
    font-size: 36px;
  }
  .section2 .content,
  .section3 .content{
    margin-top: 50px;
    width: 100%;
    padding: 30px 10px;
  }
  .section5 .join-us a{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .class-manager{
    width: 100%;
    height: 100%;
  }
}
/*Responsive css*/
/*zhengzewei*/
